:root {
  --c-dark: #383131;
  --c-brand: #00a3ff;
  --c-brand-dark: #407c95;
  --c-brand-light: #2b9ccc;
  --c-brand-footer: #80deff;
  --c-brand-contact: #c2efff;
  --c-brand-rgb: 0, 163, 255;
  --c-body: #ffffff;
  --c-gradient: linear-gradient(to top left, #7bdcff 15%, #fff 85%);
  --font-base: "Poppins", sans-serif;
  --box-shadow-card: 0px 0px 15px #00a3ff;
  --box-shadow-card-light: 0px 0px 5px #00a3ff;
  --transition: all 0.5s ease;
}

body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
  height: 100vh;
}

span {
    color: var(--c-brand);
  }
  
  a{
    text-decoration: none !important;
  }


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    background-color: hsl(202, 100%, 90%, 0.3) !important;
  }
  
  .navbar-nav .nav-link {
    font-weight: 400;
    color: var(--c-dark);
  }

  .logo{
    color: var(--c-brand-light);
  }
  
  .navbar-nav .nav-item .active {
    color: var(--c-brand) !important;
    font-weight: 700;
  }
  
  .navbar img{
    width: 60%;
  }

  .profile a{
    width: 65px;
  }
  
  .profile{
    justify-content: center;
    align-items: center;
  }

  .text-profile {
    font-weight: 400;
    color: var(--c-dark);
  }

  /* CONTENT */
  .top{
    padding-top: 65px;
  }

  .card-category{
    background-color: var(--c-brand);
    height: 580px;
    border: 0;
    border-radius: 10px;
    color: white;
  }

  .col-4{
    padding: 0;
  }

  .col-3{
    padding: 0;
  }

  .card-course{
    border: none;
    height: 320px;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    padding: 0;
  }

  .border-bottom{
    border-bottom: 2px solid white !important;
    width: 95%;
  }

  .form-check label{
    margin-left: 7px;
  }
  
  .container-card{
    font-weight: 400;
  }


  .img-card{
    width: 100%;
    padding: 7px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: auto;
  }

  .img-a{
    width: 15%;
    height: auto;
  }

  .text-a{
    margin-left: 15px;
    justify-content: center;
    margin-top: 3px;
  }

  .card-img-profile{
    width: 100%;
  }

 .status{
  height: 15px;
  padding-left: 5px;
  margin-top: 5px;
 }

 .status p{
  margin-top: -2px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: normal;
 }