:root {
  --c-dark: #383131;
  --c-brand: #00a3ff;
  --c-brand-dark: #407c95;
  --c-brand-light: #2b9ccc;
  --c-brand-footer: #80deff;
  --c-brand-contact: #c2efff;
  --c-brand-rgb: 0, 163, 255;
  --c-body: #ffffff;
  --c-gradient: linear-gradient(to top left, #7bdcff 15%, #fff 85%);
  --font-base: "Poppins", sans-serif;
  --box-shadow-card: 0px 0px 15px #00a3ff;
  --box-shadow-card-light: 0px 0px 5px #00a3ff;
  --transition: all 0.5s ease;
}

body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
  height: 100vh;
}

span {
    color: var(--c-brand);
  }
  
  a{
    text-decoration: none !important;
  }


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    background-color: hsl(202, 100%, 90%, 0.3) !important;
  }
  
  .navbar-nav .nav-link {
    font-weight: 400;
    color: var(--c-dark);
  }

  .logo{
    color: var(--c-brand-light);
  }
  
  .navbar-nav .nav-item .active {
    color: var(--c-brand) !important;
    font-weight: 700;
  }
  
  .navbar img{
    width: 60%;
  }

  .profile a{
    width: 65px;
  }
  
  .profile{
    justify-content: center;
    align-items: center;
  }

  .text-profile {
    font-weight: 400;
    color: var(--c-dark);
  }


  /* CONTENT */
  .top{
    padding-top: 65px;
  }

  .card-category{
    background-color: var(--c-brand);
    width: 100%;
    height: 580px;
    border: 0;
    border-radius: 10px;
    color: white;
  }

  .col-4{
    padding: 0;
  }

  .col-3{
    padding: 0;
  }

  .card-course{
    border: none;
    height: 300px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    padding: 0;
  }

  .border-bottom{
    border-bottom: 2px solid white !important;
    width: 95%;
  }

  .form-check label{
    margin-left: 7px;
  }
  
  .container-card{
    font-weight: 400;
  }

  .profile-card{
    height: auto !important;
    width: 100%;

  }

  .img-card{
    width: 100%;
    padding: 7px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: auto;
  }

  .img-a{
    width: 15%;
  }

  .text-a{
    margin-left: 15px;
  }

  .card-img-profile{
    width: 100%;
  }

 .status{
  height: 15px;
  padding-left: 5px;
  margin-top: 15px;
  width: 100%;
 }

 .status p{
  margin-left: 5px;
  font-size: 12px;
  height: 100%;
  width: 100%;
  font-weight: normal;
 }

.scroll{
  overflow-y: auto;
  height: 580px !important; 
}

.scroll::-webkit-scrollbar{
  display: none;
}

.dropdown{
  display: none;
}

 @media only screen and (max-width: 1200px) {
  .card-course{
    width: 100%;
  }
  
  .img-a{
    width: 20%;
  }

  .text-a{
    margin-left: 6px;
  }

  .status p{
    font-size: 12px;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 991.5px) {
  .card-course{
    height: 374px;
  }

  .img-a{
    width: 9%;
  }


}

@media only screen and (max-width: 767.5px) {
  .card-course{
    height: 460px;
    width: 100% !important;
  }

  .rspv-margin{
    margin-top: 20px !important;
  }

  .card-category{
    height: 250px;
    width: 95%;
    margin: 0 auto;
  }

  .first-card{
    margin-top: 16px !important;
  }

  .scroll{
    margin-top: 20px !important;
  }
  
  .col-sm-12{
    padding: 0px !important;
  }

  .card-course{
    height: 500px;
  }

  .text-a{
    margin-top: 4px;
    margin-left: 10px;
  }

  .status{
    margin-top: 40px;
  }

  .col-lg-3{
    display: none;
  }


  .scroll{
    overflow: unset;
    height: max-content;
  }

  .dropdown{
    display: flex;
  }
  
  .profile-card{
    margin-top: 40px !important;
  }
}


@media only screen and (max-width: 576px) {
  .logo{
    display: none;
  }

  .text-a{
    margin-top: 6px;
    margin-left: 15px;
  }

  .status{
    margin-top: 35px !important;
  }

  .card-course{
    height: 500px !important;
  }

  .m-mobile{
    margin-top: 10px !important;
  }

}